<h1>Friend Tripper</h1>
<p>Welcome to the best app on Earth!</p>
<p>Enter a destination:<br />
<input type="text" name="destination" />
</p>
<p>Choose your search distance:<br />
  <select name="radius">
    <option value="Choose One" selected="selected">Choose One</option>
    <option value="10">10 miles</option>
    <option value="25">25 miles</option>
    <option value="50">50 miles</option>
    <option value="100">100 miles</option>
  </select>
</p>
<p><input type="submit" /></p>